/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
body .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 80%;
  margin: auto;
}
i {
  padding: 5px;
}
.btn {
  color: #fff;
  background-color: #fe775a;
  padding: 8px;
  border-radius: 5px;
  border: none;
}


/* header */
  /* top bar fixed */
header .top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f9fd;
  width: 100%;
  border-bottom: 1px solid #32495b;
}

.top-fixed > .container > div {
  margin: 20px 0 ;
}
.top-fixed > .container > div:first-child {
  float: left;
  color: #32495b;
}
.top-fixed > .container > div:first-child > span:first-child {
  padding-right: 20px;
  border-right: 1px solid #32495b;
  margin-right: 20px;
}
.top-fixed > .container > div:last-child {
  float: right;
  color: #00a4bd;
}
.top-fixed > .container > div:last-child > button:nth-child(2) {
  color: #fe775a;
  background-color: #fff;
  border: 1px solid #fe775a;
  margin: 0 15px;
}


  /* menu-bar */
header .menu-bar {
  margin-top: 80px;
  height: 80px;
}
.menu-bar > .container{
}
.menu-bar > .container > img:first-child {
  margin: 22px 0;
  float: left;
  height: 36px;
}

nav > ul.header-menu {
  float: right;
  color: #32495b;
}
ul.header-menu > li {
  display: inline-block;
  list-style: none;
  line-height: 80px;
}


  /* header-main */
.header-main {
  background-color: #fff2ee;
  background-image: url(../img/jumbotron.png);
  height: 600px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  color: #33475b;
}

.header-main .header-left {
  width: 50%;
}
h1 {
  font-size: 46px;
  padding-top: 55px;
}
.header-left > p {
  padding: 40px 0;
}
.header-left > button {
  font-size: 16px;
  padding: 20px 40px;
}
.header-left > span {
  display: block;
  margin: 40px 0;
  font-size: 12px;
}


/* main */
  /* section.info */
section.info {
  background-color: #f4f9fd;
}

.powerful {
  text-align: center;
  width: 55%;
  margin: auto;
  color: #33475b
}
.powerful > img {
  margin-top: 50px;
  height: 200px;
}
.powerful > h2 {
  font-size: 36px;
}
.powerful > p {
  padding: 30px 0;
}
