/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
body .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 80%;
  margin: auto;
}
.c-style {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px #c1d6e1;
}
i {
  padding: 5px;
}
.btn {
  color: #fff;
  background-color: #fe775a;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
button.btn-big {
  font-size: 16px;
  padding: 20px 40px;
}


/* header */
  /* top bar fixed */
header .top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f9fd;
  width: 100%;
  border-bottom: 1px solid #32495b;
}

.top-fixed > .container > div {
  margin: 20px 0 ;
}
.top-fixed > .container > div:first-child {
  float: left;
  color: #32495b;
}
.top-fixed > .container > div:first-child > span:first-child {
  padding-right: 20px;
  border-right: 1px solid #32495b;
  margin-right: 20px;
}
.top-fixed > .container > div:last-child {
  float: right;
  color: #00a4bd;
}
.top-fixed > .container > div:last-child > button:nth-child(2) {
  color: #fe775a;
  background-color: #fff;
  border: 1px solid #fe775a;
  margin: 0 15px;
}


  /* menu-bar */
header .menu-bar {
  margin-top: 80px;
  height: 80px;
}
.menu-bar > .container{
}
.menu-bar > .container > img:first-child {
  margin: 22px 0;
  float: left;
  height: 36px;
}

nav > ul.header-menu {
  float: right;
  color: #32495b;
}
ul.header-menu > li {
  display: inline-block;
  list-style: none;
  line-height: 80px;
}


  /* header-main */
.header-main {
  background-color: #fff2ee;
  background-image: url(../img/jumbotron.png);
  height: 600px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  color: #33475b;
}

.header-main .header-left {
  width: 50%;
}
h1 {
  font-size: 46px;
  padding-top: 55px;
}
.header-left > p {
  padding: 40px 0;
}
.header-left > span {
  display: block;
  margin: 40px 0;
  font-size: 12px;
}


/* main */
  /* section.info */
section.info {
  background-color: #f4f9fd;
}

  /* powerful */
.powerful {
  text-align: center;
  width: 55%;
  margin: auto;
  color: #33475b
}
.powerful > img {
  margin-top: 50px;
  height: 200px;
}
.powerful > h2 {
  font-size: 36px;
}
.powerful > p {
  padding: 40px 0;
}

  /* .book */
.book {
  color: #33475b;
}

.book > div {
  float: left;
  padding: 60px;
}
.book > div:first-child {
  width: 25%;
  text-align: center;
}
.book > div:first-child > img {
  width: 100%;
  margin-bottom: 20px;
}

.book > div:last-child {
  width: 75%;
}
.book > div:last-child > h3 {
  font-size: 26px;
}
.book > div:last-child > p {
  padding: 25px 0;
}
.book > div:last-child > h4, .book > div:last-child > hr {
  display: inline-block;
}
.book > div:last-child > hr {
  width: 70%;
  vertical-align: middle;
  margin-left: 55px;
}
.book > div:last-child > h4 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.book > div:last-child > ul >li {
  list-style: none;
  display: inline-block;
}
.book > div:last-child > ul i {
  color: #fe775a;
}


  /* .skill */
.skill {
  padding: 50px 0;
  color: #33475b;
}

.skill > div {
  float: left;
  width: calc(calc(100% - 80px) / 3);
  text-align: center;
  padding: 25px 55px;
}
.skill > div:nth-child(2) {
  margin: 0 40px;
}
.skill > div > img {
  height: 100px;
}
.skill > div > h3 {
  font-size: 30px;
  padding: 25px 0;
}
.skill > div > p {
  line-height: 24px;
  padding-bottom: 40px;
}
.skill > div > h4 {
  text-transform: uppercase;
  padding: 30px 0;
}
.skill ul > li {
  text-align: left;
  list-style: none;
}
.skill ul > li > i {
  color: #fe775a;
}
.skill ul > li:last-child {
  margin-bottom: 40px;
}


/* section.gradient */
section.gradient {
  color: #fff;
  text-align: center;
  background: #0099B4;
  background: -webkit-linear-gradient(left, #0099B4 0%, #00EBDB 100%);
  background: -o-linear-gradient(left, #0099B4 0%, #00EBDB 100%);
  background: linear-gradient(to right, #0099B4 0%, #00EBDB 100%);
}
section.gradient > .container > h2 {
  font-size: 36px;
  padding: 100px 0 30px 0;
}
section.gradient > .container > p {
  font-size: 18px;
  font-weight: 300;
}
  /* .wrapper-num */
.wrapper-num {
  padding: 80px 0;
}

.wrapper-num > div{
  float: left;
  width: calc(100% / 4);
  /* height: 200px; */
  text-align: center;
  padding: 40px 0;
}
.wrapper-num > div > img{
  height: 40px;
}
.wrapper-num > div > h2{
  font-size: 50px;
  padding: 10px 0;
}

.wrapper-num > div:nth-child(1n+2) {
  border-left: 1px solid #fff;
}
.wrapper-num > div:nth-child(5) {
  border-left: none;
}

.wrapper-num > div:nth-child(1n+5) {
  border-top: 1px solid #fff;
}
